:root{
  --mainBlue:#B3001b ;
  --mainRed:rgba(179, 0, 27, 0.712);
  --lightBlue: #022144;
  --mainWhite: #f3f3f3;
  --mainDark: #1b212d;
  --mainYellow: #c18e00;
  --mainGreen: #357266;
}

@font-face {
  font-family:'Headingfont' ;
  src: local('Headingfont'), url(./fonts/Headingfont.ttf) format('truetype');
}

body {
  font-family: 'Raleway', sans-serif !important;
  margin: 0;
  padding: 0;
  height: 100%;
  background: url("Background.png") no-repeat center fixed  !important;
  background-size: cover;
  color: var(--mainDark) !important;
}

.text-title{
  font-family: 'Princess Sofia', cursive;
  font-size: 4rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainBlue);
}

.text-bright{
  color: var(--lightBlue);
}

.btn-black{
  background:transparent;
  text-transform:capitalize;
  font-size:0.8rem !important;
  color:var(--mainDark);
  border-radius:0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.ntn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color:var(--mainYellow);
}